networks:
  shared_network:
    external: true

services:
  pzem-server:
    build: ./pzem_server
    # Map serial devices (essential for your application)
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
      - "/dev/ttyUSB1:/dev/ttyUSB1"
    # Ensure the container restarts automatically unless explicitly stopped
    restart: unless-stopped
    # Connect this service to the shared network
    networks:
      - shared_network
    env_file:
      - ./pzem_server/.env

  daly-bms:
    build: ./daly_bms_bt-main
    restart: unless-stopped
    privileged: true
    volumes:
      - /var/run/dbus:/var/run/dbus
    networks:
      - shared_network
    environment:
      - DB_HOST=odoo_postgres
      - DB_PORT=5432
      - DB_NAME=postgres
      - DB_USER=odoo
      - DB_PASSWORD=odoo